select{
	padding:2px;
	border:1px solid #333;
}

/* Õ¾µãÑùÊ½ */
a:link,a:visited {
	font-size: 12px;
	color: #0E6F00;
	text-decoration:none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

a:hover{
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}


body {
	background-color: #FFFFFF;
	margin: 0 0 0 0;
	SCROLLBAR-ARROW-COLOR: #F5D300;
	SCROLLBAR-BASE-COLOR:  #40364d;
	SCROLLBAR-HIGHLIGHT-COLOR: #90869E;
	color: #000000;
	
}

.menutitle {
	border:1px solid #D6D6D6;
	height:25px;
	background-color: #FFFFFF;
	background-image: url(../images/menu_bg1.gif);
}

.menuitle_chr{
	font-size: 12px;
	font-weight: bold;
	color: #2A7D00;
}

input {
   FONT-SIZE: 12px;
	font-weight: normal;
	border: 1px solid #CDCDCD;
	
}

select {
	font-size: 12px;
}

td {
	font-size: 12px;
}

