<link href="./css/menu.css" rel="stylesheet" type="text/css" />
<link href="./css/main.css" rel="stylesheet" type="text/css" />
<table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1" class="table_bg">
<form action='menumain.php' method="post" name="som_form">
	  <tr>
		 <td colspan="2" class="td_title">MenuMain Edit</td>
	  </tr>
	<tr>
	  <td width="12%" class="td_bg_blue"><strong>no</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="no" id="no" value="{$rows[0].no}" size='22' />
	  </td>
	</tr>
	<tr>
	  <td width="12%" class="td_bg_blue"><strong>itemname</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="itemname" id="itemname" value="{$rows[0].itemname}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>price</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="price" id="price" value="{$rows[0].price}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>qty</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="qty" id="qty" value="{$rows[0].qty}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>disc</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="disc" id="disc" value="{$rows[0].disc}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>lineamt</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="lineamt" id="lineamt" value="{$rows[0].lineamt}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>tax</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="tax" id="tax" value="{$rows[0].tax}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>no</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="r" id="r" value="{$rows[0].r}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>customize</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="customize" id="customize" value="{$rows[0].customize}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>totalqty</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="totalqty" id="totalqty" value="{$rows[0].totalqty}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>grossamt</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="grossamt" id="grossamt" value="{$rows[0].grossamt}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>normal</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="normal" id="normal" value="{$rows[0].normal}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>discount</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="discount" id="discount" value="{$rows[0].discount}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>addin</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="addin" id="addin" value="{$rows[0].addin}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>netamount</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="netamount" id="netamount" value="{$rows[0].netamount}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>importer</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="importer" id="importer" value="{$rows[0].importer}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>salesman</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="salesman" id="salesman" value="{$rows[0].salesman}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>customer</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="customer" id="customer" value="{$rows[0].customer}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>name</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="name" id="name" value="{$rows[0].name}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>class</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="class" id="class" value="{$rows[0].class}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>delete</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="delete" id="delete" value="{$rows[0].delete}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>single</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="single" id="single" value="{$rows[0].single}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>b</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="b" id="b" value="{$rows[0].b}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>c</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="c" id="c" value="{$rows[0].c}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>customeerno</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="customeerno" id="customeerno" value="{$rows[0].customeerno}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>hold</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="hold" id="hold" value="{$rows[0].hold}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>rethold</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="rethold" id="rethold" value="{$rows[0].rethold}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>reprint</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="reprint" id="reprint" value="{$rows[0].reprint}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>remark</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="remark" id="remark" value="{$rows[0].remark}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>function</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="function" id="function" value="{$rows[0].function}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>payment</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="payment" id="payment" value="{$rows[0].payment}" size='22' />
	  </td>
	</tr>

		<tr>
	  <td width="12%" class="td_bg_blue"><strong>exit</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="text" name="exit" id="exit" value="{$rows[0].exit}" size='22' />
	  </td>
	</tr>


   <tr align="center">
	 <td colspan="2" class="td_bg_white" height="35">
       <input type="submit" name="op" value="Submit" class="button_bg" >
       <input name="id" id="id" type="hidden" id="id" value="{$rows[0].id}">
	 </td>
  </tr> 
  
</table>

