<input type="text" class="calculator_view"  name="Customizeno1" id="Customizeno1"/>
<table border="0" cellspacing="0" cellpadding="0" class="calculator">
  <tr>
    <td><input type="button" value="1" onclick="javascript:send1(1);"/></td>
    <td><input type="button" value="2" onclick="javascript:send1(2);"/></td>
    <td><input type="button" value="3" onclick="javascript:send1(3);"/></td>
    <td><input type="button" value="4" onclick="javascript:send1(4);"/></td>
    <td><input type="button" value="5" onclick="javascript:send1(5);"/></td>
    <td colspan="2"><button style="width:60px;" onclick="javascript:reholdinfolist();" type="button"><img src="./ico/enter.gif" /></button></td>
  </tr>
  <tr>
    <td><input type="button" value="6" onclick="javascript:send1(6);"/></td>
    <td><input type="button" value="7" onclick="javascript:send1(7);"/></td>
    <td><input type="button" value="8" onclick="javascript:send1(8);"/></td>
    <td><input type="button" value="9" onclick="javascript:send1(9);"/></td>
    <td><input type="button" value="0" onclick="javascript:send1(0);"/></td>
    <td><input type="button" value="." onclick="javascript:send1('.');"/></td>
    <td><button onclick="javascript:clearone1();" style="width:30px;" type="button"><img src="./ico/backspace.gif" /></button></td>
  </tr>
</table>
