<table border="0" cellspacing="2" cellpadding="0" width="100%">
  <tr>
    <td align="left" valign="middle" height="20">
    <?smarty:if isset($prew)?>
    {$prew}
    <?smarty:/if?>
    </td>
   </tr>
    <?smarty:foreach from=$list item=list?>
    <tr><td align="left" valign="middle" class="zlsky_list"><a href="javascript:void(0);" onclick="ajax_item('{$list.k_id}')">{$list.name}</a></td></tr>
    <?smarty:/foreach?>
  <tr>
    <td align="left" valign="middle" height="20">
    <?smarty:if isset($next)?>
    {$next}
    <?smarty:/if?>
    </td>
  </tr>
</table>