body{background:#fff;}
.box{
	width:450px;
	background:#fff;
	height:145px; 
	overflow:hidden;
	}
select{*margin-top:7px;}			
ul li{
	height:35px;
	line-height:35px;
	border-top:1px dashed #ccc;
	margin-top:-1px;
	}
ul li ul li{
	font-size:12px;
	float:left;
	border:0px;
	padding:0 10px; 
	width:70px;
	*width:120px;
	text-align:center;
	}
ul li ul li.s1{text-align:left;width:170px; overflow:hidden;font-size:14px;font-weight:bold;}
ul li ul li.s2{width:56px; *margin-top:3px;}
ul li ul li.s3{margin-left:10px;}
ul li ul li.s4{width:56px;}
ul li ul li .add{
	margin-top:10px; 
	background:url(../../../img/App/Index/Index/add_23.jpg) no-repeat;
	height:21px; 
	width:56px;
	}
ul li ul li.s2 input{border:1px #ccc solid; height:24px; line-height:24px; width:40px;}	