@charset "utf-8";
/* CSS Document */
.box{
	height:140px; 
	background:#fff;
	width:442px;
	overflow:hidden;
	}
ul li span{color:#990000;font-weight:bold}		
.content{
	background:#fff;
	width:442px;
	padding:5px;
	overflow:hidden;
	}
ul li{
	height:35px;
	line-height:35px;
	border-top:1px dashed #ccc;
	margin-top:-1px;
	}
ul li ul li{
	float:left;
	border:0px;
	margin:0 5px;
	_margin:0 3px;
	width:40px;
	text-align:center;
	}
	
ul li ul li a.s1{
	background:url(../../../img/App/Index/Index/del_btn.gif) 0px 5px no-repeat;
	height:30px; 
	width:52px;
	display:block;
	color:#fff;
	text-decoration:none;
	}
ul li ul li.s3{width:78px;}
ul li ul li.s3 a{color:#FFF; text-decoration:none;height:30px;_width:78px; background:url(../../../img/App/Index/Index/se_btn.gif) 0px 5px no-repeat; font-size:13px; color:#FFF; display:block; line-height:30px;}
	
ul li ul li.s1{
	text-align:left;
	width:180px;
	}
	