<!--{include file='header.htm'}-->
<!--{include file='nav.htm'}-->
 <table width="100%"  border="0" cellpadding="4" cellspacing="1" bgcolor="#A5D0F1">
      <tr>
          <td colspan="2" bgcolor="#E5F9FF">
		  <span class="STYLE2"><b>提示信息</b></span></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td height="63" colspan="2">
          <table width="100%"  border="0" cellspacing="1" cellpadding="1"> 
          	 <tr>
                	<td style="padding-top:10px;">
                 	<span class="STYLE3"><!--{$msg}--></span>
								</td>
                </tr>                     
            </table>
          </td>
        </tr>
    </table>
<!--{include file='footer.htm'}-->