<script language="javascript">

function check()
{
	if(document.socket_form.ipaddr.value.length == 0)
	{
		alert("请输入TS-AGC IP地址！");
		document.socket_form.ipaddr.focus();
		return false;
	}
	if(document.socket_form.ipport.value.length == 0)
	{
		alert("请输入TS-AGC IP端口！");
		document.socket_form.ipport.focus();
		return false;
	}
	if(document.socket_form.devname.value.length == 0)
	{
		alert("请输入设备名称！");
		document.socket_form.devname.focus();
		return false;
	}
	return true;
}
</script>
<table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1" class="table_bg">
<form action='<!--{$_acurl}-->' method="post" name="socket_form">
	  <tr>
		 <td colspan="2" class="td_title">设备编辑</td>
	  </tr>
	
	<tr>
	  <td width="14%" class="td_bg_blue"><strong>设备名称</strong></td>
      <td width="86%" class="td_bg_white">
		<input type="text" name="devname" value="<!--{$DataList.devname}-->" size='40' /> <font color="red"> * </font> 设备名称
	  </td>
	</tr>
	<tr>
	  <td width="14%" class="td_bg_blue"><strong>频道</strong></td>
      <td width="86%" class="td_bg_white">
		<input type="text" name="chn" value="<!--{$DataList.chn}-->" size='40' /><font color="red"> * </font> 频道
	  </td>
	</tr>

	<tr>
	  <td width="14%" class="td_bg_blue"><strong>设定时间</strong></td>
      <td width="86%" class="td_bg_white">
		<input type="text" name="schedule" value="<!--{$DataList.schedule}-->" size='40' /><font color="red"> * </font> 设定时间
	  </td>
	</tr>
  <tr align="center">
	 <td colspan="2" class="td_bg_white" height="35">
       <input type="submit" name="op" value="提交" class="button_bg" onClick="return check();">
	   <!--{if $op=='m'}-->
       <input name="serial" type="hidden" id="serial" value="<!--{$DataList.serial}-->">
	   <!--{/if}-->
	 </td>
  </tr> 
  </form>
</table>

