<table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1" class="table_bg">
<form action="<!--{url controller='User' action='Identity'}-->" method="post" name="identity_form">
	  <tr>
		 <td colspan="2" class="td_title">修改密码</td>
	  </tr>
	<tr>
	  <td width="" class="td_bg_blue"><strong>输入旧密码</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="password" name="login_pass1" value="" size='33' />
	  </td>
	</tr>
	<tr>
	  <td width="" class="td_bg_blue"><strong>输入新密码</strong></td>
      <td width="73%" class="td_bg_white"><input type="password" name="login_pass2" value="" size='33' /></td>
	</tr>
	<tr>
	  <td width="" class="td_bg_blue"><strong>再输一次新密码</strong></td>
      <td width="73%" class="td_bg_white">
		<input type="password" name="login_pass3" value="" size='33' />
	  </td>
	</tr>
   <tr align="center">
	 <td colspan="2" class="td_bg_white" height="35">
       <input type="submit" name="op" value="提交" class="button_bg">
	 </td>
  </tr> 
  </form>
</table>