<table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1" class="table_tr_bgcolor">
  <tr>
    <td colspan="9" class="td_title">用户列表</td>
  </tr>
  <tr class="title_bgcolor">
    <td width='5%'><strong>选择</strong></td>
    <td><strong>账号</strong></td>
	<td><strong>姓名</strong></td>
    <td><strong>所属机构</strong></td>
    <td><strong>更新时间</strong></td>
	<td width='15%'><strong>操作</strong></td>
  </tr>
  <!--{section name="list" loop=$plist}-->
  <tr class="td_style_mouse" >
    <td width='5%'>&nbsp;<input type="checkbox" name='ops[]' value='<!--{$plist[list].user_id}-->'></td>
    <td><!--{$plist[list].username}--></td>
	<td><!--{$plist[list].tname}--></td>
   	<td><!--{$plist[list].orgs.name}--></td>
    <td><!--{$plist[list].updated_d}--></td>
	<td width='15%'>
	<!--{if $_rights.mod}-->
	<a href="<!--{url controller='User' action='Modify' user_id=$plist[list].user_id}-->">编辑</a>
	<!--{else}-->
		--
	<!--{/if}-->
	</td>
  </tr>
  <!--{sectionelse}-->
	<tr>
		<td align='center' colspan='9'><b style='color:red'><!--{$nodata}--></b></td>
	</tr>
  <!--{/section}-->
</table>
<!--{if $plist}-->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="td_bg_white">
		<div style='float:right;padding:0px;'><!--{webcontrol type="pagernav" name="pagenav" pager=$pagerData controller="User" action="Index" param=$param}--></div>
		</td>
	</tr>
</table>
<!--{/if}-->