<table width="100%" border="0" cellspacing="0" cellpadding="0" class="food_list_menu">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="food_list">
          <tr>
            <td width="10%" align="center" valign="middle">No</td>
            <td width="50%" align="center" valign="middle">Item Name</td>
            <td width="5%" align="center" valign="middle">QTY</td>
            <td width="10%" align="center" valign="middle">R</td>
            <td width="25%" align="center" valign="middle">I</td>
          </tr>
     <?smarty:foreach from=$list key=k item=list?>  
          <tr>
            <td colspan="5" height="3" bgcolor="#4897c4" class="food_list_spacing"></td>
          </tr>
          <tr onclick="javascript:remark('{$list.0}');" id="tr{$list.0}">
            <td width="10%" align="center" valign="middle">{$list.client_id}</td>
            <td width="50%" align="center" valign="middle">{$list.name}</td>
            <td width="5%" align="center" valign="middle" ><a href="javascript:void(0);">{$list.qty}</a></td>
            <td width="10%" align="center" valign="middle">{$list.rm}</td>
            <td width="25%" align="center" valign="middle"><a href="javascript:void(0);">v</a></td>
          </tr>
	 <?smarty:/foreach?>
     <?smarty:if $list2?>
       <?smarty:foreach from=$list2 key=k item=list2?>  
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="food_list">
         <tr>
            <td colspan="5" height="3" bgcolor="#4897c4" class="food_list_spacing"></td>
          </tr>
          <tr>
            <td width="10%" align="center" valign="middle">&nbsp;</td>
            <td width="50%" align="center" valign="middle"></td>
            <td width="5%" align="center" valign="middle" ></td>
            <td width="10%" align="center" valign="middle"></td>
            <td width="25%" align="center" valign="middle"></td>
          </tr>
          </table>
        <?smarty:/foreach?>
     <?smarty:/if?>
        </table>
		 
    <!--列表开始-->
    <!--列表结束-->

  </tr>
  <tr>
    <td align="center" colspan="5"><div align="center">{$pages}</div></td>
  </tr>
</table>

