

<input type="text" class="calculator_view"  name="Customizeno" id="Customizeno"/>
<table border="0" cellspacing="0" cellpadding="0" class="calculator">
  <tr>
    <td><input type="button" value="1" onclick="javascript:send(1);"  class="peoplebutton"/></td>
    <td><input type="button" value="2" onclick="javascript:send(2);"  class="peoplebutton"/></td>
    <td><input type="button" value="3" onclick="javascript:send(3);"  class="peoplebutton"/></td>
    <td><input type="button" value="4" onclick="javascript:send(4);"  class="peoplebutton"/></td>
    <td><input type="button" value="5" onclick="javascript:send(5);"  class="peoplebutton"/></td>
    <td colspan="2"><input type="button" style="width:120px;" onclick="javascript:qtyentervalue();" value="Ent" /></td>
  </tr>
  <tr>
    <td><input type="button" value="6" onclick="javascript:send(6);"  class="peoplebutton"/></td>
    <td><input type="button" value="7" onclick="javascript:send(7);"  class="peoplebutton"/></td>
    <td><input type="button" value="8" onclick="javascript:send(8);"  class="peoplebutton"/></td>
    <td><input type="button" value="9" onclick="javascript:send(9);"  class="peoplebutton"/></td>
    <td><input type="button" value="0" onclick="javascript:send(0);"  class="peoplebutton"/></td>
    <td><input type="button" value="." onclick="javascript:send('.');"  class="peoplebutton"/></td>
    <td><input type="button" onclick="javascript:clearone();" style="width:60px;" value="<=" /></td>
  </tr>
</table>
