
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="food_list_menu">
  <tr>
    <td width="95%" rowspan="2" align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="food_list">
          <tr>
            <td width="10%" align="center" valign="middle">No</td>
            <td width="50%" align="center" valign="middle">Item Name</td>
            <td width="5%" align="center" valign="middle">QTY</td>
            <td width="10%" align="center" valign="middle">R</td>
            <td width="25%" align="center" valign="middle">Info</td>
          </tr>

          <tr>
            <td colspan="5" height="3" bgcolor="#4897c4" class="food_list_spacing"></td>
          </tr>
          <tr>
            <td width="10%" align="center" valign="middle">1</td>
            <td width="50%" align="center" valign="middle">Fish</td>
            <td width="5%" align="center" valign="middle">1</td>
            <td width="10%" align="center" valign="middle">*</td>
            <td width="25%" align="center" valign="middle"><a href="">view</a></td>
          </tr>

        </table>
    </td>
    <!--列表开始-->
    <!--列表结束-->
    <td width="5%" height="50%" align="right" valign="top">
    	<input type="button" class="food_list_button" value="↑" /></td>
  </tr>
  <tr>
    <td width="10%" height="50%" align="right" valign="bottom">
    	<input type="button" class="food_list_button" value="↓" /></td>
  </tr>
</table>
