<table width="100%"  border="0" align="center" cellpadding="1" cellspacing="1" class="table_tr_bgcolor">
  <tr>
    <td colspan="9" class="td_title">系统 日志</td>
  </tr>
  <tr class="title_bgcolor">
    <td><strong>操作员姓名</strong></td>
	<td><strong>日期/时间</strong></td>
    <td><strong>设备名称</strong></td>
    <td><strong>操作IP</strong></td>
    <td><strong>操作</strong></td>
    <td><strong>回应</strong></td>
    <td><strong>操作方式</strong></td>
  </tr>
  <!--{section name="list" loop=$plist}-->
  <tr class="td_style_mouse">
    <td><!--{$plist[list].name}--></td>
	<td><!--{$plist[list].time}--></td>
    <td><!--{$plist[list].devname}--></td>
    <td><!--{$plist[list].ipaddr}--></td>
    <td><!--{$plist[list].operask}--></td>
    <td><!--{$plist[list].operasw}--></td>
    <td><!--{$plist[list].run_type}--></td>
  </tr>
  <!--{sectionelse}-->
	<tr>
		<td align='center' colspan='7'><b style='color:red'><!--{$nodata}--></b></td>
	</tr>
  <!--{/section}-->
</table>
<!--{if $plist}-->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="td_bg_white">
		<div style='float:right;padding:0px;'><!--{webcontrol type="pagernav" name="pagenav" pager=$pagerData controller="socket" action="loglist" param=$param}--></div>
		</td>
	</tr>
</table>
<!--{/if}-->