<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>挪威高樂科技公司</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta name="Robots" content="index,follow" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>
<body>

<div id="wrap">
<?smarty:include file=header.html?>	
	<div id="main">
		<div id="leftside" style="text-align:left;">
       <strong><u>業務聯絡</u></strong>
       <br />
      挪威  :  Michael Cheung     (47) 92 60 86 65  <a href="mailto:michael92608665@yahoo.no">michael92608665@yahoo.no</a> <br />
      中國  :  黎慶禧           (852) 62 78 01 29  <a href="mailto:gzliqingxi@163.com">magic@mpos.cc</a> <br />
      中國  :  駱志洪           (852) 51 20 89 75 <a href="mailto:luo_zh@21cn.com">luo_zh@21cn.com</a>
		</div>
	</div>

<?smarty:include file=footer.html?>		
</div>
	
	
</body>
</html>