<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>挪威高樂科技公司</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta name="Robots" content="index,follow" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>
<body>

<div id="wrap">
<?smarty:include file=header.html?>	
	<div id="main">
		<div id="leftside">

            <p>产品操作说明书下载：</p>
	        <p><a href="dl_files/MPOS_Menu(English).doc">MPOS_Menu(English)</a></p>
	        <p>    <a href="dl_files/MPOS_Menu(Chinese).doc">MPOS_Menu(Chinese)</a> </p>
	        <p>产品配置：</p>
	        <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="230" rowspan="17" valign="top"><p><br />
                        <img src="mpos_files/product/pc_1.jpg" alt="1" width="216" height="152" /></p></td>
                <td width="160"><p>CPU </p></td>
                <td width="240" colspan="2"><p>Intel Celeron    Core 1.6G (up to 2.0G)</p></td>
              </tr>
              <tr>
                <td width="160"><p>Chipset</p></td>
                <td width="240" colspan="2"><p>Intel 945</p></td>
              </tr>
              <tr>
                <td width="160"><p>System    memory</p></td>
                <td width="240" colspan="2"><p>1x DDRII 667    512MB (up to 2GB)</p></td>
              </tr>
              <tr>
                <td width="160"><p>Graphic    memory</p></td>
                <td width="240" colspan="2"><p>Share system    memory</p></td>
              </tr>
              <tr>
                <td width="160"><p>HDD</p></td>
                <td width="240" colspan="2"><p>1 x 2.5 “ 80GB    SATA</p></td>
              </tr>
              <tr>
                <td width="160"><p>LAN    (10 / 100 )</p></td>
                <td width="240" colspan="2"><p>1</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Wireless</p></td>
                <td width="240"><p>802.11 b/g </p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>CDROM</p></td>
                <td width="240"><p> (Matching) </p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Interface</p></td>
                <td width="240"><p>2 x PS2 (1 x    Keyboard ,1x Mouse),<br />
                  1 x Parallel, 4 x Serial, 2 x USB</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Sound</p></td>
                <td width="240"><p>AC97</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>LCD    size</p></td>
                <td width="240"><p>15 “ TFT</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>LCD    brightness</p></td>
                <td width="240"><p>250 cd / m2</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>LCD    maximal resolution</p></td>
                <td width="240"><p>800 x 600 / 1024    x 768</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Power    supply</p></td>
                <td width="240"><p>220w (Built-in)</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>External    dimension</p></td>
                <td width="240"><p>500 (W) x 420(D)    x 250(H)</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Weight</p></td>
                <td width="240"><p>8.0kg</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Customer Display </p></td>
                <td width="240"><p>(Matching) </p></td>
              </tr>
            </table>
	        <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="231" rowspan="11"><p align="center"><img src="mpos_files/product/print_1.jpg" alt="2" width="216" height="195" /></p></td>
                <td width="161"><p>Printing method</p></td>
                <td width="240"><p>Thermal Printing</p></td>
              </tr>
              <tr>
                <td width="161"><p>Printing speed</p></td>
                <td width="240"><p>22CM/sec.</p></td>
              </tr>
              <tr>
                <td width="161"><p>Fonts</p></td>
                <td width="240"><p>USA,Europe,Code pagex10,    Chinese,Japanese,Thai</p></td>
              </tr>
              <tr>
                <td width="161"><p>Paper roll</p></td>
                <td width="240"><p>79.5+/-0.5(W)x80mm(Dia.)</p></td>
              </tr>
              <tr>
                <td width="161"><p>Paper thinness</p></td>
                <td width="240"><p>0.05~0.16(m’m)</p></td>
              </tr>
              <tr>
                <td width="161"><p>Power supply</p></td>
                <td width="240"><p>24VDC / 2A</p></td>
              </tr>
              <tr>
                <td width="161"><p>Interface</p></td>
                <td width="240"><p>Centronice</p></td>
              </tr>
              <tr>
                <td width="161"><p>External dimension</p></td>
                <td width="240"><p>147(W) x 161(D) x    122(H) mm</p></td>
              </tr>
              <tr>
                <td width="161"><p>Weight</p></td>
                <td width="240"><p>1.8kg</p></td>
              </tr>
              <tr>
                <td width="161"><p>Reliability    Cutter</p></td>
                <td width="240"><p>500,000 times </p></td>
              </tr>
              <tr>
                <td width="161"><p>Optional Color</p></td>
                <td width="240"><p>Blank</p></td>
              </tr>
            </table>
	        <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="230" rowspan="8"><p align="center"><img src="mpos_files/product/libra_1.jpg" alt="3" width="145" height="139" /></p></td>
                <td width="160"><p><a name="OLE_LINK2" id="OLE_LINK2"></a><a name="OLE_LINK1" id="OLE_LINK1">Electronic    said</a> </p></td>
                <td width="240" colspan="2"><p>G&amp;G TC10KA</p></td>
              </tr>
              <tr>
                <td width="160"><p>I/O connector    Type</p></td>
                <td width="240" colspan="2"><p>Serial interface</p></td>
              </tr>
              <tr>
                <td width="160"><p>Bezel color</p></td>
                <td width="240" colspan="2"><p>White color</p></td>
              </tr>
              <tr>
                <td width="160"><p>Display color</p></td>
                <td width="240" colspan="2"><p>Blue green</p></td>
              </tr>
              <tr>
                <td width="160"><p>Largest Weighing</p></td>
                <td width="240" colspan="2"><p>10KG</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>External    dimension</p></td>
                <td width="240"><p>350(W) x 325(D)    x 110(H) mm</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Precision</p></td>
                <td width="240"><p>2g</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>&nbsp;</p></td>
                <td width="240"><p>&nbsp;</p></td>
              </tr>
            </table>
	        <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="230" rowspan="7"><p align="center"><img src="mpos_files/product/displaypad_1.jpg" alt="4" width="75" height="133" /></p></td>
                <td width="160"><p>Customer Display</p></td>
                <td width="240" colspan="2"><p>20 columns x 2    or 12 columns x 1</p></td>
              </tr>
              <tr>
                <td width="160"><p>I/O connector    Type</p></td>
                <td width="240" colspan="2"><p>Serial interface</p></td>
              </tr>
              <tr>
                <td width="160"><p>Bezel color</p></td>
                <td width="240" colspan="2"><p>Black color</p></td>
              </tr>
              <tr>
                <td width="160"><p>Display color</p></td>
                <td width="240" colspan="2"><p>Blue green</p></td>
              </tr>
              <tr>
                <td width="160"><p>Power supply</p></td>
                <td width="240" colspan="2"><p>DC +12 ~ +    19V;3~6W</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>External    dimension</p></td>
                <td width="240"><p>197(W) x 100(D)    x 560(H) mm</p></td>
              </tr>
              <tr>
                <td width="161" colspan="2"><p>Weight</p></td>
                <td width="240"><p>1.25kg</p></td>
              </tr>
            </table>
	        <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="230" rowspan="7"><p align="center"><img src="mpos_files/product/scanner_1.jpg" alt="5" width="141" height="136" /></p></td>
                <td width="160" colspan="2"><p>Barcode Scanner</p></td>
                <td width="240" colspan="2"><p>Metrolgic MS9524</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="160" colspan="2"><p>I/O connector    Type</p></td>
                <td width="240" colspan="2"><p>Serial interface</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="160" colspan="2"><p>Bezel color</p></td>
                <td width="240" colspan="2"><p>Black color</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="160" colspan="2"><p>Function</p></td>
                <td width="240" colspan="2"><p>Auto Induce</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="160" colspan="2"><p>External    dimension</p></td>
                <td width="240" colspan="2"><p>198(W) x 40(D) x    45(H) mm</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="161" colspan="3"><p>Weight</p></td>
                <td width="240"><p>149g</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="161" colspan="3"><p>&nbsp;</p></td>
                <td width="240"><p>&nbsp;</p></td>
                <td width="0"></td>
              </tr>
              <tr>
                <td width="319" colspan="2"><p align="center">&nbsp;</p>
                    <p align="center"><img src="mpos_files/product/moneybox_1.jpg" alt="6" width="216" height="139" /></p></td>
                <td width="312" colspan="4"><p align="center"><img src="mpos_files/product/usbkey_1.jpg" alt="7" width="205" height="79" /></p></td>
              </tr>
            </table>
	        <p>CAMERAS:</p>
	        <p>10/100Mbps Network Camera </p>
	        <p>Live video and audio monitoring via 3G Mobile phone or Media Adapter MPEG-4 Video Compression </p>
	        <p>Optimal synchronization of audio &amp; video </p>
	        <p>Supports 4x digital zoom </p>
	        <p>Up to 30 frames per second in full VGA resolution </p>
	        <p>Supports UPnP for Easy set-up and installation </p>
	        <p>Supports 3GPP/ISMA RTSP (Real Time Streaming Protocol) </p>
	        <p>Supports Windows 98SE/ME/2000/XP </p>
	        <p>Motion detection </p>
	        <p>Adjustable network bandwidth </p>
	        <p>Event-notification via E-mail </p>
	        <p>Friendly GUI for easy configuration </p></td>
   <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><table width="839" border="0">
      <tr>
        <th width="348" scope="row"><img src="mpos_files/product/cameras_1.jpg" alt="1" width="348" height="261" longdesc="mpos_files/cameras_1" /></th>
        <td width="481"><img src="mpos_files/product/cameras_2.jpg" alt="2" width="348" height="261" /></td>
      </tr>
      <tr>
        <th scope="row"><img src="mpos_files/product/cameras_3.jpg" alt="3" width="348" height="261" /></th>
        <td><img src="mpos_files/product/cameras_4.jpg" alt="4" width="348" height="261" /></td>
      </tr>
    </table>

		</div>
	</div>

<?smarty:include file=footer.html?>		
</div>
	
	
</body>
</html>