<div class="zcontair">
<div class="top">
    <div class="tlogin">
        <span>您好，欢迎来珠海星辉旅行社！</span>
        <span id="headUserLoginDiv">
        <form method="post" action="{$WEBSITE_LINK}/AjaxAction.php?jsAction=userLogin" id="headLoginForm" style="display:inline-block">
            用户名：<input class="text" name="headLoginUser" type="text"/>
            密码：<input class="text" name="headLoginPwd" type="password"/>
            <input class="button1" type="submit" name="login" id="headLogin" value="" tabindex="1" />
            <input class="button2" type="button" name="register" value="" tabindex="1" />
        </form>
        </span>
        <a href="#">?忘记密码</a> | <a href="#">用户帮助</a>
    </div>
	<div class="title">
        <div class="left"></div>
        <div class="right"></div>
		<div class="clear"></div>
		<div class="nav">
		<a href="#">首 页</a>
		<a href="#">国际机票</a>
		<a href="#">国内机票</a>
		<a href="#">国际订房</a>
		<a href="#">国内订房</a>
		<a href="#">签 证</a>
		<a href="#">机票验证</a>
		<a href="#">保险验证</a>
		<a href="#">会员中心</a>
		<a href="#">关于我们</a></div>
		<div class="title_img"></div>
	</div>
</div>