<script language="javascript" src="{$JS_DIR}/libs/jqueryImage/jquery.d.imagechange.min.js"></script>
<script language="javascript">
var	Addata=[{title:"测试1",desc:"图片测试1",src:"{$IMG_DIR}/app/Index/01.jpg"},
		{title:"测试2",desc:"图片测试2",src:"{$IMG_DIR}/app/Index/02.jpg"},
		{title:"测试3",desc:"图片测试3",src:"{$IMG_DIR}/app/Index/03.jpg"}];
$(function(){
	$("#AdvertisingImage").d_imagechange({
		data:Addata,
		animateStyle:'o',//默认值'o',可以不写	
		width:391,
		height:258
	});   
})
</script>
<div class="zcontent">
	<div class="jipiao">
		
		<span class="sub sub1"><a href="#">机票查询</a></span>
		<span class="sub sub2"><a href="#">酒店查询</a></span>
		<div class="clear"></div>

		<div class="content">

			<p>航程类型：
			<span><input type="radio" name="w">单程</span>
			<span><input type="radio" name="w">往返</span></p>
			<p><span>出发城市：<input type="text" class="dingpiao" id=""></span> <span>出发日期：<input class="dingpiao" type="text" id=""></span></p>
			<span>到达城市：<input class="dingpiao" type="text" id=""></span> <span>返程日期：<input class="dingpiao" type="text" id=""></span>
			<div class="tijiao"><input class="button3" type="submit" name="" value="" id="" tabindex="1" /><span><a href="#">购票须知</a><span></div>

		</div>

	</div>
	<div id="AdvertisingImage" style="width:391px; height:258px;float:left;margin-right:10px;">
    	
    </div>
	<div class="help">
		<div class="titlefont helpt"><a href="#">帮助中心</a></div>
		<ul>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		<li>·<a href="#">帮助中心第一道问题如下</a></li>
		</ul>
	</div>
<div class="clear"></div>
	<div class="thirty_guoji">
		<div class="tnav">
			<div class="titlefont fonth"><a href="#">三十日内特价机票</a></div>
			<ul class="thirty">
			<li class="an">北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			</ul>
		</div>
		<div class="tcontent">
			<div class="ding">
				<ul>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
					</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
				</ul>
				<ul>
				<li>3333</li>
				<li class="z1">2222</li>
				</ul>
				<ul>
				<li>3333</li>
				<li class="z1">2222</li>
				</ul>
			</div>
		</div>
	<div class="t1_end"></div>
	</div>

	<div class="thirty_jiudian">
		<div class="tnav">
			<div class="titlefont fonth"><a href="#">三十日内特价机票</a></div>
			<ul class="thirty2">
			<li class="an">北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			<li>北京</li>
			</ul>
		</div>
		<div class="tcontent">
			<div class="ding">
				<ul>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
					</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
					<li class="z1">
						<a href="#">
						<span class="addr">
						<span class="from">北京</span>
						<span class="to">上海</span>
						</span>
						<span class="date">02-23</span>
						<em class="price">155</em>
						<span class="discount"><em>1.5</em>折</span>
						</a>
					</li>
				</ul>
				<ul>
				<li>3333</li>
				<li class="z1">2222</li>
				</ul>
				<ul>
				<li>3333</li>
				<li class="z1">2222</li>
				</ul>
			</div>
		</div>
	<div class="t1_end"></div>
	</div>
</div>